@import "tailwindcss";

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSwv5HMAFg6IuGlBNMjxLsH8ag.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSwv5HMAFg6IuGlBNMjxLsE8ah8QA.woff2)
    format("woff2");
  unicode-range:
    U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@theme {
  --container-8xl: 96rem;
  --font-inter-tight: "Inter Tight", sans-serif;
}

.highlight {
  animation: flash 0.9s ease-in-out 3;
  background-color: #f59e0b; /* Tailwind amber-500 */
}

@keyframes flash {
  0% {
    background-color: #f59e0b; /* amber-500 */
  }
  50% {
    background-color: #ffb900; /* amber-400 για highlight */
  }
  100% {
    background-color: #f59e0b; /* επιστροφή σε amber-500 */
  }
}

body {
  @apply font-inter-tight bg-gradient-to-b from-slate-900 via-slate-700 via-60% to-slate-900 text-lg font-[460] select-none;
}

h3 {
  @apply my-2 text-3xl font-extrabold;
}

.card {
  @apply p-6 shadow-xl shadow-slate-950/40;
}

.card-b {
  @apply transform rounded-lg border border-slate-200 p-4 shadow-xl outline-1 -outline-offset-4 outline-amber-600 transition-transform duration-100 outline-dotted active:scale-[98%] lg:h-80 xl:h-96;
}

.btn {
  @apply cursor-pointer rounded bg-amber-700 px-6 py-2 font-medium text-white hover:bg-amber-600 focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 focus:outline-none;
}
.btn:disabled {
  @apply cursor-no-drop rounded bg-slate-600 px-6 py-2 font-medium text-white hover:bg-amber-700 focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 focus:outline-none;
}
.beer-bubbles {
  animation: rise 3s infinite ease-in;
  @apply absolute bottom-0 z-10 rounded-full bg-white opacity-70;
}
.beer-spin {
  @apply transition-all duration-700;
  animation: spin 0.5s ease-out;
}
@keyframes rise {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-120px) scale(1);
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}
.beer-color {
  @apply bg-gradient-to-br from-amber-500 from-0% via-yellow-500 via-40% to-amber-700 to-100%;
}
